<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd">

	<bean class="PropertiesReader" id="pr">
		<constructor-arg index="0">
			<util:properties location="db.properties"/>
		</constructor-arg>
	</bean>
	
	<bean class="DBCredentials" id="dbc" dependency-check="simple">
		<property name="user">
			<value>root</value>
		</property>
		<property name="password" value="My@SQL"/>
		<property name="prop">
			<ref bean="pr"/>
		</property>
	</bean>

</beans>