<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="staticMethod" value="connection.DBConnection.setBds"/>
    	<property name="arguments">
    		<list>
    			<bean class="org.apache.commons.dbcp2.BasicDataSource">
    				<property name="driver">
    					<bean class="com.mysql.jdbc.Driver"/>
    				</property>
    				<property name="url" value="jdbc:mysql://localhost:3306/hibernate"/>
    				<property name="username" value="root"/>
    				<property name="password" value="My@SQL"/>
    			</bean>
    		</list>
    	</property>
    </bean>    
	<bean id="c" class="connection.DBConnection" factory-method="getConnection" scope="prototype"/>
</beans>