<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean class="com.awcsoftware.car.dto.Engine">
		<constructor-arg index="0" value="1500"/>
		<constructor-arg index="1" value="V15"/>
	</bean>

	<bean class="com.awcsoftware.car.dto.Car" autowire="byType" id="car">
		<property name="name" value="Maruti"/>
	</bean>

</beans>